appdirs==1.4.4
buildozer==1.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
idna==2.10
importlib-metadata==4.0.1
Jinja2==2.11.3
Kivy==2.0.0
Kivy-Garden==0.1.4
MarkupSafe==1.1.1
pep517==0.6.0
pexpect==4.8.0
ptyprocess==0.7.0
Pygments==2.9.0
pytoml==0.1.21
requests==2.25.1
sh==1.14.1
six==1.16.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.6
zipp==3.4.1
